@charset "utf-8";

/*-------------------------
	File manager
-------------------------*/

.cfbfilemanager {
    width: 900px;
    max-width: 920px;
    height: 100%;
    position: relative;
    margin: 10px auto 50px;
}

@media all and (max-width: 965px) {
    .cfbfilemanager {
        margin: 30px auto 0;
        padding: 1px;
    }
}

#netx-cfb-form .form-actions {
    clear: both;
}

/*-------------------------
	Breadcrumps
-------------------------*/

.cfbfilemanager .cfbbreadcrumbs {
    color: black;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.cfbfilemanager .cfbbreadcrumbs a:link, .cfbbreadcrumbs a:visited {
    color: black;
    text-decoration: none;
}

.cfbfilemanager .cfbbreadcrumbs a:hover {
    text-decoration: underline;
}

.cfbfilemanager .cfbbreadcrumbs .arrow {
    color: #6a6a72;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
}

/*-------------------------
	Search box
-------------------------*/

.cfbfilemanager .search {
    position: absolute;
    padding-right: 30px;
    cursor: pointer;
    right: 0;
    font-size: 17px;
    color: #ffffff;
    display: block;
    width: 40px;
    height: 40px;
}

.cfbfilemanager .search:before {
    content: '';
    position: absolute;
    margin-top: 12px;
    width: 10px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    right: 8px;
}

.cfbfilemanager .search:after {
    content: '';
    width: 3px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    top: 23px;
    right: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cfbfilemanager .search input[type=search] {
    border-radius: 2px;
    color: #4D535E;
    background-color: #FFF;
    width: 250px;
    height: 44px;
    margin-left: -215px;
    padding-left: 20px;
    text-decoration-color: #4d535e;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: none;
    outline: none;
    border: none;
    padding-right: 10px;
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #4d535e;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #4d535e;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #4d535e;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #4d535e;
}

/*-------------------------
	Content area
-------------------------*/

.cfbfilemanager .cfbdata {
    z-index: -3;
}

.cfbfilemanager .cfbdata.animated {
    -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 700ms; /* Standard syntax */
}

.cfbfilemanager .cfbdata li {
    width: 112px;
    height: 118px;
    list-style-type: none;
    margin: 0 10px 10px 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0;
    z-index: 1;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s background-color;
}

.cfbfilemanager .cfbdata li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cfbfilemanager .cfbdata li .name {
    display: inline-block;
    font-size: 10px;
    color: #000000;
}

.cfbfilemanager .cfbdata li .details {
    display: block;
    font-size: 9px;
}

.cfbfilemanager .nothingfound {
    background-color: #373743;
    width: 23em;
    height: 21em;
    margin: 0 auto;
    display: none;
    font-family: Arial;
    -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 700ms; /* Standard syntax */
}

.cfbfilemanager .nothingfound .nofiles {
    margin: 30px auto;
    top: 3em;
    border-radius: 50%;
    position: relative;
    background-color: #d72f6e;
    width: 11em;
    height: 11em;
    line-height: 11.4em;
}

.cfbfilemanager .nothingfound .nofiles:after {
    content: '×';
    position: absolute;
    color: #ffffff;
    font-size: 14em;
    margin-right: 0.092em;
    right: 0;
}

.cfbfilemanager .nothingfound span {
    margin: 0 auto auto 6.8em;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 13px;
    position: relative;
    top: 2em;
}

@media all and (max-width: 965px) {

    .cfbfilemanager .cfbdata li {
        margin: 5px;
    }

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
    100% {
        transform: scale(1);
        opacity: 1;
    }
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/* Standard syntax */
@keyframes showSlowlyElement {
    100% {
        transform: scale(1);
        opacity: 1;
    }
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/*-------------------------
		Icons
-------------------------*/

.icon {
    font-size: 13px;
}

.icon.folder {
    display: inline-block;
    margin: 1em;
    background-color: transparent;
    overflow: hidden;
}

.icon.folder:before {
    content: '';
    float: left;
    background-color: #7ba1ad;

    width: 1.5em;
    height: 0.45em;

    margin-left: 0.07em;
    margin-bottom: -0.07em;

    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;

    box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}

.icon.folder:after {
    content: '';
    float: left;
    clear: left;

    background-color: #a0d4e4;
    width: 3em;
    height: 2.25em;

    border-radius: 0.1em;
}

.icon.folder.full:before {
    height: 0.55em;
}

.icon.folder.full:after {
    height: 2.15em;
    box-shadow: 0 -0.12em 0 0 #ffffff;
}

.icon.file {
    width: 2.5em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 0.25em;
    color: #FFF;
    display: inline-block;
    margin: 0.9em 1.2em 0.8em 1.3em;
    position: relative;
    overflow: hidden;
    box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}

.icon.file:first-line {
    font-size: 13px;
    font-weight: 700;
}

.icon.file:after {
    content: '';
    position: absolute;
    z-index: -1;
    border-width: 0;
    border-bottom: 2.6em solid #DADDE1;
    border-right: 2.22em solid rgba(0, 0, 0, 0);
    top: -34.5px;
    right: -4px;
}

.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
    box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}

.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
    border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
    box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}

.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
    border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd {
    box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
    border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
    box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}

.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
    border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
    box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}

.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
    border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
    box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}

.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
    border-bottom-color: #d65de8;
}

.icon.file.f-js {
    box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}

.icon.file.f-js:after {
    border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
    box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}

.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
    border-bottom-color: #30837c;
}
